<div class="container my-3">
  <h2>Customer: <span class="text-primary">{{ customer?.fullName }}</span></h2>

  <hr>

  <div class="row">
    <div class="col-md-6">
      <div class="row mt-2">
        <div class="col-md-2">Id</div>
        <div class="col-md-8">{{ customer?.id}}</div>
      </div>

      <div class="row mt-2">
        <div class="col-md-2">Name</div>
        <div class="col-md-8">{{ customer?.fullName }}</div>
      </div>

      <div class="row mt-2">
        <div class="col-md-2">Age</div>
        <div class="col-md-8">{{ customer?.age }}</div>
      </div>

      <div class="row mt-2">
        <div class="col-md-2">Phone Number</div>
        <div class="col-md-8">{{ customer?.phoneNumber }}</div>
      </div>

      <div class="mt-5">
        <button class="btn btn-secondary" [routerLink]="[ '/customer' ]">Back</button>
        <button class="btn btn-primary ms-2" [routerLink]="[ '/customer/edit', customer?.id ]">Edit</button>
      </div>
    </div>
    <div class="col-md-6">
      <app-image-uploader [config]="uploaderConfig" [imagesNames]="images"></app-image-uploader>
    </div>
  </div>

  <hr>

  <h2 class="">Orders</h2>

  <table mat-table [dataSource]="orderDS" class="mat-elevation-z2 w-100 mt-3">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let order"> {{order.id}} </td>
    </ng-container>

    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef> Total Price </th>
      <td mat-cell *matCellDef="let order"> {{order.totalPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef> Order Date </th>
      <td mat-cell *matCellDef="let order">
        {{order.orderDate | date: 'MMM d, y, h:mm a'}}
        <!-- <span class="text-success">{{order.orderDate | date: 'EEE'}} </span>
        <span class="text-primary">{{order.orderDate | date: 'dd/MMM'}}</span> -
        <span class="text-danger">{{order.orderDate | date: 'hh:mm a'}}</span> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> Note </th>
      <td mat-cell *matCellDef="let order"> {{order.note}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let order">
        <a class="ms-3" [routerLink]="['/order/details', order.id]" title="Details">
          <i class="fa-solid fa-circle-info text-info"></i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: orderColumns;"></tr>
  </table>

</div>